{#
/**
 * @file
 * Display a subtree of LDbase items.
 *
 * Available variables:
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The item child items.
 *   - link: rederable link
 *   - description: The item description.
 */
#}

{% if items %}
  {% import _self as subtree %}
  {% if subtree_title %}
  <h3>{{ subtree_title }}</h3>
  {% endif %}

  {{ subtree.tree_links(items, 0) }}
  {% macro tree_links(items, tree_level) %}
    {% import _self as subtree %}
    <ul class='project-item-subtree-view project-item-subtree-view-list'>
    {% for item in items %}
      <li class='project-item-subtree-view project-item-subtree-view-item'>
        {{ item.link }}<br />
        {{ item.description|striptags|length > 100 ? item.description|striptags|slice(0,100) ~ '...' : item.description|raw}}
        {% if item.below %}
          {{ subtree.tree_links(item.below, tree_level + 1) }}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endmacro %}
{% endif %}

